<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>데이터 분석결과 보기</title>
  </head>
  <body>
    <!-- navibar 위치 -->
    {% include 'sub/navi.html' %}

    <!-- 카테고리별 순위(카테고리내 상위 20개 평균 데이터를 이용)-->
    <!--금액기준과 달성률을 기준으로 한다.-->
    <div class="container">
        <br><h3 align='center'>1. 카테고리별 순위(카테고리내 상위 20개 평균 데이터를 이용)</h3><br>
        <div class="row">
            <div class="col">
            <!-- 금액기준을 바탕으로한 세로 막대그래프 -->
            <!--추후 변경될 이미지파일임-->
            <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
            <div class="col">
            <!--달성률을 기준으로 한 가로 막대그래프 -->
            <!--추후 변경될 이미지파일임-->
            <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
        </div>
    </div>

    <!-- 카테고리별 순위(카테고리내 상위 20개 평균 데이터를 이용)-->
    <!--금액기준과 달성률을 기준으로 한다.-->
    <div class="container">
        <br><br><br><h3 align='center'>2.금액순 상위 top5 카테고리 키워드 분석</h3><br>
        <div class="row">
            <div class="col">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
            <div class="col">
            <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
            <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
            <div class="col">
            <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col" align='center'>
            <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
            </div>
        </div>
        

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>