<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navibar 위치 -->
    {% include 'sub/navi.html' %}

    <!-- 후원자들을 위한 추천 섹션 -->
    <br>
    <h2 align ='center'> To SPONSOR</h2>
    <<h4 align ='center'>(후원금의 금액 분석 결과를 기반으로 합니다.)</h4><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h2 align ='center'> To CREATER</h2>
    <<h4 align ='center'>(인기 프로젝트들의 키워드를 분석 결과를 기반으로 합니다.)</h4><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                <!--추후 변경될 이미지파일임-->
                    <img src='{{url_for('static', filename='multi.jpg')}}' class="img-fluid" alt="Responsive image" weight='100%'>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">상세정보</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>